PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cloudclip?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379

# Firebase Admin SDK credentials (Service Account JSON fields)
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Key-Here\n-----END PRIVATE KEY-----\n"
